<div id="assessmentInfoContent">
{{#items}}
<div class="assessmentSection">
	<div id="assesmentSummary" class="left">
		<div class="subject">{{asmt_subject}}</div>
		<div class="type">{{asmt_type}} {{asmt_period}} </div>
		<div class="teacher"><span class="text">Teacher:</span> <span class="value">{{teacher_first_name}} {{teacher_middle_name}} {{teacher_last_name}}</span></div>
		<div class="date"><span class="text">Date:</span> <span class="value">{{date_taken_month}}/{{date_taken_day}}/{{date_taken_year}}</span></div>
	</div>
	
	<div id="assessmentDetails">
		<div id="overallScoreInfo" class="placeholder">
			
		</div>
		<div id="overallScoreInfo" class="placeholder">
			
		</div>
		<div id="confidenceLevel">
			<div class="transWrapper">
				<div class="overall_score" style="margin-left: {{asmt_score_pos}}%;">{{asmt_score}}</div>
				<div class="transImage" style="background-position: {{asmt_score_percent}}% 0%"></div>
			</div>
			<div class="progress">
				<div class="bar bar-danger" style="width: {{asmt_cut_point_percent_1}}%;">{{asmt_cut_point_name_1}}</div>
				<div class="bar bar-warning" style="width: {{asmt_cut_point_percent_2}}%;">{{asmt_cut_point_name_2}}</div>
				<div class="bar bar-success" style="width: {{asmt_cut_point_percent_3}}%;">{{asmt_cut_point_name_3}}</div>
				<div class="bar bar-info" style="width: {{asmt_cut_point_percent_4}}%;">{{asmt_cut_point_name_4}}</div>
			</div>
			<div class="cutPointsBar">
				<div class="cutPoints startPoint">{{asmt_score_min}}</div>
				<div class="cutPoints" style="width: {{asmt_cut_point_percent_1}}%;">{{asmt_cut_point_1}}</div>
				<div class="cutPoints" style="width: {{asmt_cut_point_percent_2}}%;">{{asmt_cut_point_2}}</div>
				<div class="cutPoints" style="width: {{asmt_cut_point_percent_3}}%;">{{asmt_cut_point_3}}</div>
				<div class="cutPoints" style="width: {{asmt_cut_point_percent_4}}%;">{{asmt_score_max}}</div>
			</div>
		</div>
		<div id="claimsSection">
			<ul>
				<li class="placeholder">
					<div>
						
					</div>
				</li>
				<li class="placeholder">
					<div>
						
					</div>
				</li>
				<li class="placeholder">
					<div>
						
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{{/items}}
