<div id="assessmentInfoContent">
{{#items}}
<div class="assessmentSection">
	<div id="assesmentSummary" class="left">
		{{asmt_subject}} <br/>
		{{asmt_type}} {{asmt_period}} <br/>
		Teacher: {{teacher_first_name}} {{teacher_middle_name}} {{teacher_last_name}} <br/>
		Date: {{date_taken_month}}/{{date_taken_day}}/{{date_taken_year}}
	</div>
	
	<div id="assessmentDetails">
		<div id="overallScoreInfo" class="placeholder">
			
		</div>
		<div id="confidenceLevel" class="placeholder">
			
		</div>
		<div id="claimsSection">
			<ul>
				<li class="placeholder">
					<div>
						
					</div>
				</li>
				<li class="placeholder">
					<div>
						
					</div>
				</li>
				<li class="placeholder">
					<div>
						
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
{{/items}}
