<div id="header" class="content" role="banner">
    <div class="logo"></div>
    <ul class="action" role="menubar">
    <li class="helpMenu">
    	<div class="divider">
        <a href="#" role='menuitem'>
        		<i class="edware-icon-question-mark marginRight8"></i>{{labels.help}}
       	</a>
       </div>
    </li>
    <li class="languageDropdown">
        <div class="divider">
        <a id="user-settings" href="#" role='menuitem'>
            <i class="edware-icon-globe-blue marginRight8"></i>
            <span class="lang">English</span>
            <i class="edware-icon-downarrow-blue marginLeft8"></i>
        </a>
	<ul class="languageMenu dropdown-menu" role="radiogroup"></ul>
        </div>
    </li>
    <li><div class="divider">
        <button class="btn btn-primary btn-login edware-btn-primary" role='menuitem'>{{labels.login}}</button>
    </div></li>
    </ul>
    <div class="helpMenuContainer"></div>
</div>
<div role="main">
	<div id="content">
	    <div class="content">
	    <div class="intro">
	    	<p class='preTitle'>{{welcome}}</p>
	        <h1>{{title}}</h1>
	        <p>{{summary}}</p>
	        <button class="btn btn-primary btn-small btn-login edware-btn-primary">{{labels.login}}</button>
	    </div>
	    </div>
	</div>
	{{#about}}
	<div id="about" class="content">
	    <h3>{{title}}</h3>
	    <ul>
	    {{#sections}}
		<li class="{{helpMenu}}">
	    	<a href="{{link}}" target="{{linkTarget}}">
	        <div class="{{class}} asset"></div>
	        <h2>{{subtitle}}</h2>
	        <p>{{desc}}</p>
	        </a>
	    </li>
	    {{/sections}}
	    </ul>
	</div>
	{{/about}}
	<div id="footer">
	    <div class="content">
	    <div class="copyright">
	        <div class="logo"></div>
	        <p>{{copyright}}</p>
	    </div>
	    </div>
	</div>
</div>
