recursive-include src *.py *.csv
recursive-include scripts *.py *.sh
include *.txt
recursive-include logs *.log
recursive-include conf *.py *.cfg *.ini
recursive-include zones *.csv
recursive-include tests *.py *.csv *.sh
recursive-include datafiles *.csv
