include *.txt *.ini *.cfg *.rst
recursive-include smarter *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
recursive-include assets *
prune assets/coffee
prune assets/node_modules
