@base-color: #111;
@white: #fff;
@gray: #333;
@red: #d63b40;
@green: #4aa31b;
@yellow: #e3c703;
@blue: #2881cc;
@darkGray: #E2E2E2;
@lightGray: #f8f8f8;

.color-widget-red {
  color: #fff;
  background: @red;
  font-weight: bold;
}

.color-widget-blue {
  color: #fff;
  background: @blue;
  font-weight: bold;
}

.color-widget-yellow {
  color: #fff;
  background: @yellow;
  font-weight: bold;
}

.color-widget-green {
  color: #fff;
  background: @green;
  font-weight: bold;
}