/***
 Palette Color levels
***/
@color-A1: #04496d;
@color-A2: #096aac;
@color-A3: #064977;
@color-A4: #00addf;
@color-A5: #66cbff;
@color-A6: #5ad9ff;
@color-A7: #fafafa;
@color-A8: #ececec;
@color-A9: #7fc2d6;

@color-B1: #4b4b4b;
@color-B2: #838383;
@color-B3: #a0a0a0;
@color-B4: #B1B1B1;
@color-B5: #E2E2E2;
@color-B6: #F8F8F8;
@color-B7: #d0d0d0;
@color-B8: #ededed;
@color-B9: #737373;
@color-B10: #F9F9F9;
@color-B11: #787878;
@color-B12: #f0f0f0;
@color-B13: #bcbcbc;
@color-B14: #d4d4d4;
@color-B15: #e7e7e7;
@color-B16: #eeeeee;
@color-B17: #d7d7d7;
@color-B18: #b7b7b7;
@color-B19: #b4b4b4;
@color-B20: #242424;
@color-B21: #ebebeb;
@color-B22: #e5e5e5;
@color-B23: #e4e4e4;
@color-B24: #dddddd;
@color-B25: #bdbdbd;
@color-B26: #808080;


@color-C1: #626262;
@color-C2: #4d4d4d;
@color-C3: #3e3e3e;
@color-C4: #787878;
@color-C5: #66cbff;
@color-C6: #5abdf0;
@color-C7: #1fa0e3;
@color-C8: #2e9cd6;
@color-C9: #949494;
@color-C10: #666666;
@color-C11: #f4f4f4;
@color-C12: #9b9b9b;
@color-C13: #525252;
@color-C14: #d5d5d5;
@color-C15: #f9941f;
@color-C16: #17becc;
@color-C17: #fefdf2;

@color-black: #000000;
@color-white: #ffffff;

.blackText {
  color: @color-black;
}

.whiteText {
  color: @color-white;
}
