@import "color";
@import "base";

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0 auto;
  width: 980px;
  color: @color-B2;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
  font-size: 34px;
  font-size: bold;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}
 
h4 {
  font-size: 14px;
  font-weight: bold;
}
 
h5 {
  font-size: 10px;
  font-weight: normal;
}

h6 {
  font-size: 9px;
  font-weight: normal;
}

.subTitle2 {
  font-weight: normal;
  font-size: 11px;
}
#header {
  color: @color-B2;
  height: 60px;
  background: @color-B6;
  
  #logo {
    width: 100px;
    height: 20px;
    padding: 5px;
    background: @color-B5;
    color: @color-white;
    float: left;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .topLinks {
    float: right;
    color: @color-B1;
    margin-top: 30px;
    margin-right: 20px;
    
    a {
      color: @color-B2;
    }
  }
}

#content { 
  margin-top: 20px; 
  min-height: 200px;
  
  h2 {
     color: @color-A1;
  }
  
  .surveyMonkeyPopup {
    display: none;
  }
}
  
  
/* Indivial Student Report styles */
.placeholder {
  background: @color-B5;
  margin: 20px 3% 20px 0;
  color: @color-white;
  text-align: center;
}

#individualStudentContent {
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
.sidebar {
  height: 520px;
  padding: 15px;
  width: 170px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: @color-B6;
  color: @color-B1;
  
  h1 {
    color: @color-A1;
  }
  
  h3 {
    line-height: 20px;
  }
  
  .teacher, .date, .psychometric, .policy, .adminDetails {     
    font-size: 13px; 
  }
}

.contentWrapper {
  width: 740px;
  margin-left: 200px;
  
  .overallScoreSection {
    min-height: 70px;
    margin: 20px 0 0 20px;
    
    .indicator {
      background-image: url("../images/ScoreCircle.png");
      background-position: no-repeat;
      float: left;
      width: 65px;
      height: 40px;
      padding-top: 25px;
      font-size: 18px;
      text-align: center;
    }
    
    .info {
      float: left;
      margin: 0px 10px;
      
      dl, dd {
        margin: 0;
      }
      
      .overallText {
        font-size: 16px;
        color: @color-B1;
        line-height: 32px;
      }
      
      .overallDesc {
        font-size: 22px;
      }
    }
    
    .info2 {
      background: url("../images/dottedline.png") no-repeat top left;
      margin-left: 300px;
      margin-right: 20px;
      padding-left: 20px;
      font-size: 14px;
      min-height: 70px;
    }
  }
  
  .claimsSection {
    margin-left: 20px;
    
    h3 {
      color: @color-B1;
    }
    
    ul li {
      height: 250px;
      float: left;
      margin: 10px 10px 0 0;
      padding: 10px;
      border: solid 1px @color-B5;
      .rounded-corners(5px);
      position: relative;
      background: @color-B6;
      
      .scoreBox {
        font-size: 18px;
        margin-top: 10px;
        
        .interval {
          font-size: 15px;
          line-height: 30px;
        }
      }
      
      .icon {
        
        position: absolute;
        right: 10px;
        
        img {
          width: 26px;
          height: 26px;
        }
      }
      
      h4  {
        padding-bottom: 5px;
        display: table-cell;
        vertical-align: bottom;
        height: 50px;
      }
      .description {
        height: 70px;
        font-size: 13px;
        color: @color-B3;
      }
      
      .link {
        position: absolute;
        bottom: 30px;
        right: 10px;
      }
      .footer {
        font-size: 9px;
        color: @color-B2;
        position: absolute;
        bottom: 5px;
      }
      
      .graph {
        margin-right: 10px;
      }
    }
    
  }
}

.gridHeight100 {
  tr.jqgrow td {
    height: 100px;
  }
  .ui-jqgrid tr.footrow {
    td {
      height: 100px;
      
      &:nth-child(even) {
       border-right: none !important;
      }
    }
  }
  
  .ui-jqgrid tr.jqgrow td {
    white-space: normal;
    
    &:nth-child(even) {
      border-right: none !important;
    }
  }
  
  .ui-jqgrid .ui-jqgrid-view {
    font-size: 13px;
  }
  
  .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child div {
    margin-left: 20px;
  }
  
  .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:nth-child(3), .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:nth-child(5) {
    font-size: 10px !important;
  }
}

.populationBar {
  width: 265px;
  margin-left: 10px;
  
  .bar {
    font-size: 11px;
    font-weight: normal;
    cursor: pointer;
  }
}
  
/* Popover/Tooltip styles*/
.popover {
    width: auto;
    margin-top: -10px; 
    
    ul li { 
      margin: 0 10px;
      font-size: 13px; }
      
    .large {
      width: 620px;
      height: 360px;
      
      .lead {
        margin-bottom: 0; 
      }
    }
  }

/* Footer styles */
#footer {
  color: @color-white;
  background-color: @color-B4;
  float: left;
  width: 980px;
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  height: 40px;
  z-index: 5000;
}

#copyright {
  float: left;
  padding: 10px;
  padding-left: 20px;
}

#purpose, #feedback, #legend {
  padding: 10px;
  cursor: pointer;
}

#legend {
  padding-right: 20px;
}

#select_measure {
  float: right;
  
  .btn-group {
    float: right;
  }
}

#select_measure_title {
  float: left;
  margin-right: 5px;
  margin-top: 6px;
}
