@import "color";
@import "base";

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0 auto;
  width: 980px;
  color: @color-B2;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
  font-size: 34px;
  font-size: bold;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}
 
h4 {
  font-size: 14px;
  font-weight: bold;
}
 
h5 {
  font-size: 10px;
  font-weight: normal;
}

h6 {
  font-size: 9px;
  font-weight: normal;
}

.subTitle2 {
  font-weight: normal;
  font-size: 11px;
}

#header {
  color: @color-B2;
  height: 52px;
  background: url("../images/Header_gradient.png");
 
  #logo {
    width: 100px;
    height: 20px;
    padding: 5px;
    background: url("../images/smarterHeader_logo.png");
    color: @color-white;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .topLinks {
    float: right;
    color: @color-B1;
    margin-top: 20px;
    margin-right: 20px;
    
    a {
      color: @color-B2;
    }
  }
}
  
#headerTitle {
  font: Helvetica; 
  font-size: 18px; 
  color:#E2E2E2; 
  padding-top: 10x; 
  float:left; 
  padding-left: 230px; 
  padding-top: 20px;
}

#headerUser{
  font: Helvetica; 
  font-size: 13px; 
  color:#FFFFFF;
}

#headerLogout{
  font: Helvetica; 
  font-size: 13px; 
  color:#E2E2E2;
}

#headerLogoutSeparator{
  color:#E2E2E2; 
  font: Helvetica
}

#content { 
  margin-top: 20px; 
  min-height: 200px;
  
  h2 {
     color: @color-A1;
  }
  
  .surveyMonkeyPopup, .legendPopup, .aboutReportPopup {
    display: none;
  }
}

/* Style for performance bar displaying in the table*/
table {  
  .asmtScore {
    float: left;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
  }
  .confidenceLevel {
    height: 30px;
    margin-top: 5px;
    
    .progress {
      height: 14px;
      margin-top: 0;
      margin-left: 44px;
    }
    .overall_score, .cutPointsBar {
      display: none;
    }
    
    .scoreWrapper {
      margin-left: 44px;
    }
    .transWrapper {
      margin-top: auto;
      margin-left: 44px;
    }
    
    .indicator {
      margin-top: -6px;
      height: 14px;
    }
    .transImage1 {
      height: 14px;
      background-image: url("../images/overlay_left88x14.png");
    }
    
    .transImage2 {
      height: 14px;
      background-image: url("../images/overlay_right88x14.png");
    }
    
    .transImage1.confLevelRight {
      background-image: url("../images/overlay_left88x14.png");
    }
    
    .transImage2.confLevelRight {
      background-image: url("../images/overlay_right88x14.png");
    }
  }
}


/* Indivial Student Report styles */
.placeholder {
  background: @color-B5;
  margin: 20px 3% 20px 0;
  color: @color-white;
  text-align: center;
}

#individualStudentContent {
    float: left;
    padding-bottom: 40px;
    width: 100%;
}
.sidebar {
  height: 570px;
  padding: 15px;
  width: 170px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: @color-B6;
  color: @color-B1;
  
  h1 {
    color: @color-A1;
  }
  
  h3 {
    line-height: 20px;
  }
  
  .teacher, .date, .psychometric, .policy, .adminDetails {     
    font-size: 13px; 
  }
}

.contentWrapper {
  width: 740px;
  margin-left: 200px;
  
  .overallScoreSection {
    min-height: 70px;
    margin: 20px 0 0 20px;
    
    .indicator {
      background-image: url("../images/ScoreCircle.png");
      background-position: no-repeat;
      float: left;
      width: 65px;
      height: 40px;
      padding-top: 25px;
      font-size: 18px;
      text-align: center;
    }
    
    .info {
      float: left;
      margin: 0px 10px;
      
      dl, dd {
        margin: 0;
      }
      
      .overallText {
        font-size: 16px;
        color: @color-B1;
        line-height: 32px;
      }
      
      .overallDesc {
        font-size: 22px;
      }
    }
    
    .info2 {
      background: url("../images/dottedline.png") repeat-y top left;
      margin-left: 300px;
      margin-right: 20px;
      padding-left: 20px;
      font-size: 14px;
      min-height: 70px;
    }
  }
  
  .claimsSection {
    margin-left: 20px;
    
    h3 {
      color: @color-B1;
    }
    
    ul li {
      height: 250px;
      float: left;
      margin: 10px 10px 0 0;
      padding: 10px;
      border: solid 1px @color-B5;
      .rounded-corners(5px);
      position: relative;
      background: @color-B6;
      
      .scoreBox {
        font-size: 18px;
        margin-top: 10px;
        
        .interval {
          font-size: 15px;
          line-height: 30px;
        }
      }
      
      .icon {
        
        position: absolute;
        right: 10px;
        
        img {
          width: 26px;
          height: 26px;
        }
      }
      
      h4  {
        padding-bottom: 5px;
        display: table-cell;
        vertical-align: bottom;
        height: 50px;
      }
      .description {
        height: 70px;
        font-size: 13px;
        color: @color-B3;
      }
      
      .link {
        position: absolute;
        bottom: 30px;
        right: 10px;
      }
      .footer {
        font-size: 9px;
        color: @color-B2;
        position: absolute;
        bottom: 5px;
      }
      
      .graph {
        margin-right: 10px;
      }
    }
    
  }
}

.gridHeight100 {
  tr.jqgrow td {
    height: 100px;
  }
  .ui-jqgrid tr.footrow {
    td {
      height: 100px;
      
      &:nth-child(even) {
       border-right: none !important;
      }
    }
  }
  
  .ui-jqgrid tr.jqgrow td {
    white-space: normal;
    
    &:nth-child(even) {
      border-right: none !important;
    }
  }
  
  .ui-jqgrid .ui-jqgrid-view {
    font-size: 13px;
  }
  
  .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child div {
    margin-left: 20px;
  }
  
  .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:nth-child(3), .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:nth-child(5) {
    font-size: 10px !important;
  }
}

.populationBar {
  width: 265px;
  margin-left: 10px;
  
  .bar {
    font-size: 11px;
    font-weight: normal;
    cursor: pointer;
  }
}
  
/* Popover/Tooltip styles*/
.popover {
    width: auto;
    z-index: 4999;
    margin-top: -8px;
    
    ul li { 
      margin: 0 10px;
      font-size: 13px; }
      
    .large {      
      .lead {
        margin-bottom: 0; 
      }
    }
  }
  
.footerPopover {
    bottom: 29px !important;
    position: fixed;
    top: auto !important;
    margin-top: 0;
    
    .arrow {
      display: none;
    }
    
    .popover-content {
      overflow-y: scroll;
      height: 304px;
    }
}

/* Footer styles */
#footer {
  color: @color-white;
  background-color: @color-B4;
  float: left;
  width: 980px;
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  height: 40px;
  z-index: 5000;
}

#copyright {
  float: left;
  padding: 10px;
  padding-left: 20px;
}

#aboutReport, #feedback, #legend {
  padding: 10px;
  cursor: pointer;
}

#legend {
  padding-right: 20px;
}

#select_measure {
  float: right;
  
  .btn-group {
    float: right;
    z-index: 4999;
  }
}

#select_measure_title {
  float: left;
  margin-right: 5px;
  margin-top: 6px;
}

.claim_name {
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  margin: 0;
  text-align: center;
  padding: 2px 0;
}
