[class^="edware-header-icon-"],
[class*=" edware-header-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url('../images/header_nav_icons.png');
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.edware-header-icon-cog {
  background-position: 0 0;
}
.edware-header-icon-resources {
  background-position: 0 -19px;
}
.edware-header-icon-help {
  background-position: 0 -37px;
}
.edware-header-icon-feedback {
  background-position: 0 -55px;
}

[class^="edware-icon-"],
[class*=" edware-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url('../images/nav_icons.png');
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.edware-icon-downpoint {
  background-position: -2px -51px;
}