.confidenceLevel {
        height: 150px;
        .aldDescText { display: block }
        .progress {
          .bar {
            background-image: none !important;
          }
        }      
        .transImage1 {
          background-image: url("../images/ISRleftBracket_print.png");
          background-repeat: no-repeat;
          background-position: top left;
        }
        .transImage2 {
          background-image: url("../images/ISRrightBracketwEB_print.png");
          background-repeat: no-repeat;
          background-position: top left;
        }  
        
        .transImage1.confLevelRight {
          background-image: url("../images/ISRleftBracketwEB_print.png");
          background-repeat: no-repeat;
          background-position: top left;
        }
      
        .transImage2.confLevelRight {
          background-image: url("../images/ISRrightBracket_print.png");
          background-repeat: no-repeat;
          background-position: top left;
        }
      }