//
// BreadCrumb
//

#breadcrumb {
  background: @color-B4;
  color: @color-B1;
  min-height: 20px;
  padding: 10px;
  
  a {
    color: @color-white; 
    margin: 0; 
  }
  
  span {
    margin: 0;
  }
}


//
// Table Grid
//

#gbox_gridTable { overflow: hidden; margin-bottom: 40px;}
table { border-collapse: separate; }
table td .progress {
  margin-bottom: 0;
}
.ui-widget { font-family: arial; }
.ui-jqgrid tr.jqgrow td.bold { font-weight: bold; }

.ui-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap !important;
}
.ui-widget-content { color: @color-B2; }
.ui-widget-content a { color: @color-A2; text-decoration: none; }
.ui-widget-content a:hover { color: @color-A3; text-decoration: underline;}

.ui-jqgrid .ui-jqgrid-view {
  font-size: 12px;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    color: @color-B2;
    font-weight: normal;
}
th.ui-th-column div {
    height: auto !important;
    padding: 4px 5px;
    text-align: left;
    white-space: normal !important;
}

.ui-jqgrid tr.jqgrow td { 
  padding: 4px 5px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: @color-B6;
  border: solid 1px @color-B5;
  color: #333;
}

.ui-state-default .ui-th-column-header {
  text-align: left;
  padding-left: 10px !important;
}

.ui-widget-content { border: none; border-top: solid 1px @color-B5; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0; }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0 }

.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.footrow td { border-right: solid 1px @color-B5; }

.ui-jqgrid tr.jqgrow td { border-bottom: solid 1px @color-B5; }

.ui-jqgrid .ui-jqgrid-htable .jqg-second-row-header th {  background: @color-B5; color: @color-B1; font-size: 16px; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
   background: @color-B6; color: @color-B2; 
  }
  
.ui-jqgrid-sdiv {
  .box-shadow(0 1px 4px, 25%);
  z-index: 100;
  background: @color-B6;
  
  .ui-widget-content {
    background: @color-B6;
  }
}

.ui-jqgrid tr.footrow td { border-bottom: solid 1px @color-B5; }

.marginLeft20 {
  margin-left: 20px;
  
  .summaryTitle {
    white-space: normal;
    color: @color-B1;
  }
  
  .summarySubtitle {
    color: @color-B2;
    font-size: 11px;
  }
}
  

//
// Confidence Level Bar
//

.confidenceLevel {
      height: 100px;
      margin-top: 20px;
      
      .scoreWrapper {
        margin-left: 3%;
        position: absolute;
        width: 640px;
        z-index: 3000;
        height: 20px;
      }
      .overall_score {
        position: absolute;
        z-index: 3000;
        font-size: 18px;
        width: 60px;
        text-align: center;
      }
      .transWrapper {
        margin-left: 3%;
        position: absolute;
        width: 640px;
        overflow: hidden;
        z-index: 99;
        margin-top: 11px;
      }
      .transImage1 {
        height: 67px;
        background-image: url("../images/progressbar_minScoreLevel.png");
        background-repeat: no-repeat;
        width: 640px;
      }
      
      .indicator {     
        height: 40px;
        background-repeat: no-repeat;
        position: absolute;
        margin-top: 20px;
        width: 13px;
      }
      
      .transImage2 {
        height: 67px;
        background-image: url("../images/progressbar_maxScoreLevel.png");
        background-repeat: no-repeat;
        width: 640px;
        position: absolute;
      }
      
      .transImage1.confLevelRight {
        background-image: url("../images/progressbar_minScoreLevel2.png");
      }
      
      .transImage2.confLevelRight {
        background-image: url("../images/progressbar_maxScoreLevel2.png");
      }
      
      .progress {
        background-color: transparent;
        background-image: none;
        border-radius: 0;
        height: 30px;
        box-shadow: none;
        margin-left: 3%;
        position: absolute;
        margin-top: 30px;
        width: 640px;
        z-index:1;
        
        .bar {
          padding-top: 7px;
          font-size: 10px;
        }
      }
      
      .cutPointsBar {
        margin-left: 3%;
        margin-top: 60px;
        position: absolute;
        width: 640px;
        background: url("../images/score_line.png") no-repeat scroll right top;
        
        .cutPoints {
          float: left;
          text-align: right;
          font-size: 11px;
          color: @color-B3;
          background: url("../images/score_line.png") no-repeat scroll left top;
          padding-top: 6px;
        }
        
        .startPoint {
          position: absolute;
        }
      }
    }

.populationBar {
  .progress {
    border-radius: 0;
    
    .bar {
      text-align: right;
    }
    
    
  }
}
