UDL task {{task_id}} failed.

Batch ID:        {{batch_guid}}
Load Type:       {{load_type}}
UDL Phase:       {{udl_phase}}
UDL Phase Step:  {{udl_phase_step}}
Failure Time:    {{failure_time}}

More details are available in the UDL stats table.