LZ/UDL summary report for {{ start_date }}{% if end_date is defined %} - {{ end_date }} {% endif %}
{% if records %}
Records: {{ records }}
Download summary zipped csv file from {{ hpz_web_url }}
{% endif %}