LZ/UDL summary report for {{ start_date }}{% if end_date is defined %} - {{ end_date }} {% endif %}
{% if results %}
{% for result in results %}
Records for {{ result.datestamp }}: {{ result.counts }}
{% endfor %}
Download summary zipped csv file from {{ hpz_web_url }}
{% else % }
No report
{% endif %}