body {
  font-family: helvetica, arial, sans-serif;
  margin: 0 auto;
  width: 98%;
}
h3 {
  margin-top: 20px;
  border-bottom: solid 1px #ccc;
}
#header {
  color: #333333;
  border-left: 1px;
  border-right: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  margin: 10px 0 20px 0;
}
#header h1 {
  font-size: 26px;
  font-weight: bold;
}
#header #logo {
  width: 100px;
  height: 20px;
  padding: 5px;
  background: #999;
  color: #fff;
  float: left;
}
#header .topLinks {
  float: right;
}
#breadcrumb {
  background: #999999;
  color: #333;
  padding: 5px;
  margin-bottom: 20px;
}
#breadcrumb a {
  color: #fff;
}
/* grid styles */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none;
  border: solid 1px #ccc;
  color: #333;
}
.ui-widget-content {
  border: none;
  border-top: solid 1px #ccc;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0;
}
.ui-jqgrid tr.ui-row-ltr td {
  border-right: solid 1px #ccc;
}
.ui-jqgrid tr.jqgrow td {
  border-bottom: solid 1px #ccc;
}
.ui-th-column-header {
  background: #ccc !important;
  font-size: 14px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #ccc;
  color: #333;
}
#footer {
  color: #ffffff;
  background-color: #333333;
  margin: 20px 0 10px 0;
  padding: 5px;
  font-size: 11px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* Overlay */
#simplemodal-overlay {
  background-color: #000;
}
/* Container */
#simplemodal-container {
  height: 360px;
  width: 600px;
  color: #bbb;
  background-color: #333;
  border: 4px solid #444;
  padding: 12px;
}
#simplemodal-container a.modalCloseImg {
  background: url(../images/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
}
