.blackText{color:#000000;}
.whiteText{color:#ffffff;}
.blackText{color:#000000;}
.whiteText{color:#ffffff;}
a{color:#00addf;text-decoration:none;}a:hover{color:#04496d;text-decoration:underline;}
.labelText{color:#000000;}
.outerBox{background:#e2e2e2;}
.innerBox{background:#ffffff;border:solid 1px #b1b1b1;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;float:left;margin:20px 20px 0;}
.pad0{padding:0;}
.margin0{margin:0;}
.marginRight5{margin-right:5px;}
.marginLeft20{margin-left:20px;}
.left{float:left;}
.right{float:right;}
.text-right{text-align:right;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after{content:".";display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
ul.inline li{display:inline-block;}
.small{font-size:11px;}
.form-horizontal .help-inline{display:none;}
.form-horizontal .control-group.error .help-inline{color:#B94A48;display:inline-block;}
hr{height:1px;background-color:#e2e2e2;border:0px;}
.blackText{color:#000000;}
.whiteText{color:#ffffff;}
.blackText{color:#000000;}
.whiteText{color:#ffffff;}
a{color:#00addf;text-decoration:none;}a:hover{color:#04496d;text-decoration:underline;}
.labelText{color:#000000;}
.outerBox{background:#e2e2e2;}
.innerBox{background:#ffffff;border:solid 1px #b1b1b1;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;float:left;margin:20px 20px 0;}
.pad0{padding:0;}
.margin0{margin:0;}
.marginRight5{margin-right:5px;}
.marginLeft20{margin-left:20px;}
.left{float:left;}
.right{float:right;}
.text-right{text-align:right;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after{content:".";display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
ul.inline li{display:inline-block;}
.small{font-size:11px;}
.form-horizontal .help-inline{display:none;}
.form-horizontal .control-group.error .help-inline{color:#B94A48;display:inline-block;}
hr{height:1px;background-color:#e2e2e2;border:0px;}
body{font-family:helvetica,arial,sans-serif;margin:0 auto;width:980px;color:#838383;}
h1,h2,h3,h4,h5,h6{margin:0;}
h1{font-size:34px;font-size:bold;}
h2{font-size:18px;font-weight:normal;}
h3{font-size:15px;font-weight:bold;}
h4{font-size:14px;font-weight:bold;}
h5{font-size:10px;font-weight:normal;}
h6{font-size:9px;font-weight:normal;}
.subTitle2{font-weight:normal;font-size:11px;}
#header{color:#838383;height:52px;background:url("../images/Header_gradient.png");}#header #logo{width:100px;height:20px;padding:5px;background:url("../images/smarterHeader_logo.png");color:#ffffff;float:left;text-align:center;margin-top:10px;margin-left:20px;}
#header .topLinks{float:right;color:#4b4b4b;margin-top:20px;margin-right:20px;}#header .topLinks a{color:#838383;}
#headerTitle{font:Helvetica;font-size:18px;color:#E2E2E2;padding-top:10x;float:left;padding-left:230px;padding-top:20px;}
#headerUser{font:Helvetica;font-size:13px;color:#FFFFFF;}
#headerLogout{font:Helvetica;font-size:13px;color:#E2E2E2;}
#headerLogoutSeparator{color:#E2E2E2;font:Helvetica;}
#content{margin-top:20px;min-height:200px;}#content h2{color:#04496d;}
#content .surveyMonkeyPopup,#content .legendPopup,#content .aboutReportPopup{display:none;}
table .asmtScore{float:left;font-weight:bold;font-size:14px;margin-right:10px;}
table .confidenceLevel{height:30px;margin-top:5px;}table .confidenceLevel .progress{height:14px;margin-top:0;margin-left:44px;}
table .confidenceLevel .overall_score,table .confidenceLevel .cutPointsBar{display:none;}
table .confidenceLevel .scoreWrapper{margin-left:44px;}
table .confidenceLevel .transWrapper{margin-top:auto;margin-left:44px;}
table .confidenceLevel .indicator{margin-top:-6px;height:14px;}
table .confidenceLevel .transImage1{height:14px;background-image:url("../images/overlay_left88x14.png");}
table .confidenceLevel .transImage2{height:14px;background-image:url("../images/overlay_right88x14.png");}
table .confidenceLevel .transImage1.confLevelRight{background-image:url("../images/overlay_left88x14.png");}
table .confidenceLevel .transImage2.confLevelRight{background-image:url("../images/overlay_right88x14.png");}
.placeholder{background:#e2e2e2;margin:20px 3% 20px 0;color:#ffffff;text-align:center;}
#individualStudentContent{float:left;padding-bottom:40px;width:100%;}
.sidebar{height:570px;padding:15px;width:170px;border-top-left-radius:5px;border-bottom-left-radius:5px;background:#f8f8f8;color:#4b4b4b;}.sidebar h1{color:#04496d;}
.sidebar h3{line-height:20px;}
.sidebar .teacher,.sidebar .date,.sidebar .psychometric,.sidebar .policy,.sidebar .adminDetails{font-size:13px;}
.contentWrapper{width:740px;margin-left:200px;}.contentWrapper .overallScoreSection{min-height:70px;margin:20px 0 0 20px;}.contentWrapper .overallScoreSection .indicator{background-image:url("../images/ScoreCircle.png");background-position:no-repeat;float:left;width:65px;height:40px;padding-top:25px;font-size:18px;text-align:center;}
.contentWrapper .overallScoreSection .info{float:left;margin:0px 10px;}.contentWrapper .overallScoreSection .info dl,.contentWrapper .overallScoreSection .info dd{margin:0;}
.contentWrapper .overallScoreSection .info .overallText{font-size:16px;color:#4b4b4b;line-height:32px;}
.contentWrapper .overallScoreSection .info .overallDesc{font-size:22px;}
.contentWrapper .overallScoreSection .info2{background:url("../images/dottedline.png") repeat-y top left;margin-left:300px;margin-right:20px;padding-left:20px;font-size:14px;min-height:70px;}
.contentWrapper .claimsSection{margin-left:20px;}.contentWrapper .claimsSection h3{color:#4b4b4b;}
.contentWrapper .claimsSection ul li{height:250px;float:left;margin:10px 10px 0 0;padding:10px;border:solid 1px #e2e2e2;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;position:relative;background:#f8f8f8;}.contentWrapper .claimsSection ul li .scoreBox{font-size:18px;margin-top:10px;}.contentWrapper .claimsSection ul li .scoreBox .interval{font-size:15px;line-height:30px;}
.contentWrapper .claimsSection ul li .icon{position:absolute;right:10px;}.contentWrapper .claimsSection ul li .icon img{width:26px;height:26px;}
.contentWrapper .claimsSection ul li h4{padding-bottom:5px;display:table-cell;vertical-align:bottom;height:50px;}
.contentWrapper .claimsSection ul li .description{height:70px;font-size:13px;color:#a0a0a0;}
.contentWrapper .claimsSection ul li .link{position:absolute;bottom:30px;right:10px;}
.contentWrapper .claimsSection ul li .footer{font-size:9px;color:#838383;position:absolute;bottom:5px;}
.contentWrapper .claimsSection ul li .graph{margin-right:10px;}
.gridHeight100 tr.jqgrow td{height:100px;}
.gridHeight100 .ui-jqgrid tr.footrow td{height:100px;}.gridHeight100 .ui-jqgrid tr.footrow td:nth-child(even){border-right:none !important;}
.gridHeight100 .ui-jqgrid tr.jqgrow td{white-space:normal;}.gridHeight100 .ui-jqgrid tr.jqgrow td:nth-child(even){border-right:none !important;}
.gridHeight100 .ui-jqgrid .ui-jqgrid-view{font-size:13px;}
.gridHeight100 .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:first-child div{margin-left:20px;}
.gridHeight100 .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:nth-child(3),.gridHeight100 .ui-jqgrid .ui-jqgrid-htable th.ui-th-column:nth-child(5){font-size:10px !important;}
.populationBar{width:265px;margin-left:10px;}.populationBar .bar{font-size:11px;font-weight:normal;cursor:pointer;}
.popover{width:auto;z-index:4999;margin-top:-8px;}.popover ul li{margin:0 10px;font-size:13px;}
.popover .large .lead{margin-bottom:0;}
.footerPopover{bottom:29px !important;position:fixed;top:auto !important;margin-top:0;}.footerPopover .arrow{display:none;}
.footerPopover .popover-content{overflow-y:scroll;height:304px;}
#footer{color:#ffffff;background-color:#b1b1b1;float:left;width:980px;font-size:12px;position:fixed;bottom:0px;height:40px;z-index:5000;}
#copyright{float:left;padding:10px;padding-left:20px;}
#aboutReport,#feedback,#legend{padding:10px;cursor:pointer;}
#legend{padding-right:20px;}
#select_measure{float:right;}#select_measure .btn-group{float:right;z-index:4999;}
#select_measure_title{float:left;margin-right:5px;margin-top:6px;}
.claim_name{font-weight:normal;font-size:11px;line-height:14px;margin:0;text-align:center;padding:2px 0;}
#breadcrumb{background:#b1b1b1;color:#4b4b4b;min-height:20px;padding:10px;}#breadcrumb a{color:#ffffff;margin:0;}
#breadcrumb span{margin:0;}
#gbox_gridTable{overflow:hidden;margin-bottom:40px;}
table{border-collapse:separate;}
table td .progress{margin-bottom:0;}
.ui-widget{font-family:arial;}
.ui-jqgrid tr.jqgrow td.bold{font-weight:bold;}
.ui-ellipsis{text-overflow:ellipsis;white-space:nowrap !important;}
.ui-widget-content{color:#838383;}
.ui-widget-content a{color:#096aac;text-decoration:none;}
.ui-widget-content a:hover{color:#064977;text-decoration:underline;}
.ui-jqgrid .ui-jqgrid-view{font-size:12px;}
.ui-th-column,.ui-jqgrid .ui-jqgrid-htable th.ui-th-column{color:#838383;font-weight:normal;}
.ui-jqgrid .ui-jqgrid-htable th div{text-align:center;}
th.ui-th-column div{height:auto !important;padding:4px 5px;text-align:left;white-space:normal !important;}
.ui-jqgrid tr.jqgrow td{padding:4px 5px;white-space:normal;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{background:#f8f8f8;border:solid 1px #d0d0d0;color:#333;}
.ui-state-default .ui-th-column-header{text-align:left;padding-left:10px !important;}
.ui-widget-content{border:none;border-top:solid 1px #d0d0d0;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:0;}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:0;}
.ui-jqgrid tr.ui-row-ltr td,.ui-jqgrid tr.footrow td{border-right:solid 1px #e2e2e2;}
.ui-jqgrid tr.jqgrow td{border-bottom:solid 1px #d0d0d0;}
.ui-jqgrid .ui-jqgrid-htable .jqg-second-row-header th{background:#e2e2e2;color:#4b4b4b;font-size:16px;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{background:#f8f8f8;color:#838383;}
.ui-jqgrid-sdiv{box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);z-index:100;background:#f8f8f8;}.ui-jqgrid-sdiv .ui-widget-content{background:#f8f8f8;}
.ui-jqgrid tr.footrow td{border-top:none;}
.ui-jqgrid tr.jqgrow td:last-child,.ui-jqgrid .ui-jqgrid-htable th:last-child,.ui-jqgrid tr.footrow td:last-child{border-right:solid 1px transparent;}
.marginLeft20{margin-left:20px;}.marginLeft20 .summaryTitle{white-space:normal;color:#4b4b4b;}
.marginLeft20 .summarySubtitle{color:#838383;font-size:11px;}
.confidenceLevel{height:100px;margin-top:20px;}.confidenceLevel .scoreWrapper{margin-left:3%;position:absolute;z-index:3000;height:20px;}
.confidenceLevel .overall_score{position:absolute;z-index:3000;font-size:18px;width:60px;text-align:center;}
.confidenceLevel .transWrapper{margin-left:3%;position:absolute;overflow:hidden;z-index:99;margin-top:11px;}
.confidenceLevel .transImage1{height:67px;background-image:url("../images/progressbar_minScoreLevel.png");background-repeat:no-repeat;width:640px;}
.confidenceLevel .indicator{height:40px;background-repeat:no-repeat;position:absolute;margin-top:20px;width:13px;}
.confidenceLevel .transImage2{height:67px;background-image:url("../images/progressbar_maxScoreLevel.png");background-repeat:no-repeat;width:640px;position:absolute;}
.confidenceLevel .transImage1.confLevelRight{background-image:url("../images/progressbar_minScoreLevel2.png");}
.confidenceLevel .transImage2.confLevelRight{background-image:url("../images/progressbar_maxScoreLevel2.png");}
.confidenceLevel .progress{background-color:transparent;background-image:none;border-radius:0;height:30px;box-shadow:none;margin-left:3%;position:absolute;margin-top:30px;z-index:1;}.confidenceLevel .progress .bar{padding-top:7px;font-size:10px;}
.confidenceLevel .cutPointsBar{margin-left:3%;margin-top:60px;position:absolute;background:url("../images/score_line.png") no-repeat scroll right top;}.confidenceLevel .cutPointsBar .cutPoints{float:left;text-align:right;font-size:11px;color:#a0a0a0;background:url("../images/score_line.png") no-repeat scroll left top;padding-top:6px;}
.confidenceLevel .cutPointsBar .startPoint{position:absolute;}
.populationBar .progress{border-radius:0;}.populationBar .progress .bar{text-align:right;}
