.color-widget-red {
  color: #fff;
  background: #d63b40;
  font-weight: bold;
}
.color-widget-blue {
  color: #fff;
  background: #2881cc;
  font-weight: bold;
}
.color-widget-yellow {
  color: #fff;
  background: #e3c703;
  font-weight: bold;
}
.color-widget-green {
  color: #fff;
  background: #4aa31b;
  font-weight: bold;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 0 auto;
  width: 98%;
}
h3 {
  margin-top: 20px;
  border-bottom: solid 1px #ccc;
}
#header {
  color: #333333;
  border-left: 1px;
  border-right: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 60px;
  background: #fbfbfb;
}
#header h1 {
  font-size: 26px;
  font-weight: bold;
}
#header #logo {
  width: 100px;
  height: 20px;
  padding: 5px;
  background: #dbdbdb;
  color: #fff;
  float: left;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}
#header .topLinks {
  float: right;
  color: #565656;
  margin-top: 30px;
  margin-right: 20px;
}
#header .topLinks a {
  color: #9f9f9f;
}
#breadcrumb {
  background: #b1b1b1;
  color: #333;
  padding: 5px;
  margin-bottom: 20px;
}
#breadcrumb a {
  color: #fff;
  margin: 0 5px;
}
#breadcrumb span {
  margin: 0 5px;
}
/* grid styles */
table {
  border-collapse: separate;
}
.ui-widget {
  font-family: arial;
}
.ui-jqgrid tr.jqgrow td.bold {
  font-weight: bold;
}
.ui-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap !important;
}
.ui-widget-content a {
  color: #333;
  text-decoration: underline;
}
.ui-widget-content a:hover {
  color: #333;
}
.ui-jqgrid .ui-jqgrid-view {
  font-size: 12px;
}
.ui-th-column,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  color: #B4B3B3;
  font-weight: normal;
}
th.ui-th-column div {
  height: auto !important;
  padding: 4px 5px;
  text-align: left;
  white-space: normal !important;
}
.ui-jqgrid tr.jqgrow td {
  padding: 4px 5px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #fafafa;
  border: solid 1px #ccc;
  color: #333;
}
.ui-state-default .ui-th-column-header {
  text-align: left;
  padding-left: 10px !important;
}
.ui-widget-content {
  border: none;
  border-top: solid 1px #cbcbcb;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0;
}
.ui-jqgrid tr.ui-row-ltr td {
  border-right: solid 1px #cbcbcb;
}
.ui-jqgrid tr.jqgrow td {
  border-bottom: solid 1px #cbcbcb;
}
.ui-jqgrid .ui-jqgrid-htable .jqg-second-row-header th {
  background: #ebebeb;
  color: #5e5e5e;
  font-size: 16px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #fafafa;
  color: #333;
}
#footer {
  color: #ffffff;
  background-color: #b1b1b1;
  margin: 20px 0 10px 0;
  padding: 5px;
  font-size: 11px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* Overlay */
#simplemodal-overlay {
  background-color: #000;
}
/* Container */
#simplemodal-container {
  height: 360px;
  width: 600px;
  color: #bbb;
  background-color: #333;
  border: 4px solid #444;
  padding: 12px;
}
#simplemodal-container a.modalCloseImg {
  background: url(../images/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
}
