body
{
    background-image:none;   /* background gradient image - must be 100px * 1500px, .png is best */
    background-color:#fff;              /* this colour must be set to the finishing colour (at the very bottom) of the gradient */
    color:#838383; /* default font colour */
    font-family: helvetica, arial, sans-serif;
    margin: 0 auto;
    width: 980px;
}

#header {
  color: @color-B2;
  height: 52px;
  background: url("../images/Header_gradient.png") repeat-x;
  border-top: 1px solid #1f1f1f;
  box-shadow: inset 0px 1px #434343;
}

#logo {
  width: 112px;
  height: 36px;
  color:  #FFFFFF;
  float: left;
  text-align: center;
  margin-top: 7px;
  margin-left: 20px;
}
  
#headerTitle {
  font-family: helvetica; 
  font-size: 18px; 
  color:#E2E2E2; 
  padding-top: 10x; 
  float:left; 
  padding-left: 230px; 
  padding-top: 20px;
}

#content { 
	margin-top: 20px; 
	min-height: 200px;
}

.box-content fieldset {
	margin: 0;
}

#footer {
  color: #B1B1B1;
  background: url("../images/Header_gradient.png") repeat-x;
  float: left;
  width: 980px;
  font-size: 11px;
  font-family: helvetica; 
  position: fixed;
  bottom: 0px;
  height: 45px;
  z-index: 5000;
}

#copyright {
	margin-left: 15px;
	margin-top: 15px;
}

form {
	margin:0 auto;
	width:50%;
}

.container_12 {
  width: 960px;
  margin: 0 auto;
}
