body.cpop {

    #actionBar {
	.printItem, .asmtTypeItem {
	    display: none;
	}
    }

}

/* Customize each report */
body.state {

    #infoBar #DownloadMenuModal {
	li.extract { display: none; }
    }
}

body.district {

    #infoBar #DownloadMenuModal {
	li.extract, li.csv { display: none; }
    }
}

body.school {

    .stickyCheckbox {
	display: none;
    }

    .stickyCompareLabel {
	display: none;
    }

    #infoBar #DownloadMenuModal {
	li.csv { display: none; }
    }
}