body.isr {

    body {border: solid 1px @color-A8;}

    #infoBar li.download {
	display: none;
    }

    #actionBar {
        border-bottom: solid 1px @color-B25;

	.sortItem, .alignmentItem, .filterItem {
	    display: none;
	}

    }
}